version: "3.8"

services:
  mysql:
    image: mysql:8.0.29
    container_name: ec-demo-mysql-8
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "123456"
      MYSQL_ROOT_HOST: "%"
      TZ: Asia/Tokyo
      LANG: en_US.UTF-8
    command: ["mysqld", "--character-set-server=utf8mb4", "--collation-server=utf8mb4_general_ci"]
    volumes:
      - ../demo/sql/mysql-init:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p123456"]
      interval: 10s
      timeout: 5s
      retries: 10

  seata:
    image: seataio/seata-server:2.0.0
    container_name: ec-demo-seata-server-2.0
    ports:
      - "7092:7091" # console
      - "8092:8091" # seata server
    environment:
      - TZ=Asia/Tokyo
      - STORE_MODE=db
      - SEATA_IP=seata
      - SEATA_PORT=8091
    volumes:
      - ../../../application.yml:/seata-server/resources/application.yml:ro
    depends_on:
      mysql:
        condition: service_healthy

  redis:
    image: redis:7-alpine
    container_name: ec-demo-redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--requirepass", "123456"]

  kafka:
    image: bitnami/kafka:3.7
    container_name: ec-demo-kafka
    profiles: ["kafka"]
    ports:
      - "9092:9092"
    environment:
      - KAFKA_CFG_NODE_ID=1
      - KAFKA_CFG_PROCESS_ROLES=broker,controller
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=true
      - ALLOW_PLAINTEXT_LISTENER=yes

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.2
    container_name: ec-demo-elasticsearch
    profiles: ["elastic"]
    ports:
      - "9200:9200"
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
